<!-- $body_class about -->
<!-- $meta_title Elysium Farm | Skuinskraal, Hoekwil, Eden -->
<!-- $meta_image home -->
<!-- $meta_description Home of Elysium Farm online. Sharing our journey into self-sufficiency. -->
<!-- @include _head -->
  <!-- @include _header -->
  <!-- @include _main_story -->
