html
  font: normal 17px/30px
  background: #F7F3F0
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

body,
nav ul,
nav li
  padding: 0
  margin: 0

body
  display: flex
  font-family: 'Droid Serif', serif
  min-height: 100vh
  flex-direction: column

h1:after
  content: ""
  width: 50px
  height: 5px
  background: #2C3238
  display: block
  margin: 20px 0
p
  line-height: 23px

a
  color: #2F4F4F
.wrap
  width: 960px
  margin: 150px auto 0
  display: flex
  flex: 1
  position: relative

header
  position: relative
  z-index: 2
  flex: 0 0 200px
  order: -1

.wrap:before
  content: " "
  display: block
  width: 375px
  height: 444px
  background: url(birds.jpg)
  position: absolute
  top: -100px
  left: -100px
  z-index: 0

.logo
  display: inline-block
  margin-bottom: 20px

main
  position: relative
  z-index: 2
  flex: 1

nav
  li
    list-style: none
  a.current
    border-bottom: 2px solid #fff

nav:first-of-type
  background: #2C3238
  width: 150px
  display: inline-block
  border-radius: 3px
  padding: 10px 0
  ul
    margin-top: 20px
    margin-bottom: 20px
  li
    text-align: center
  a
    text-decoration: none
    color: #fff
    line-height: 1.8
    text-align: center
    display: line-block

.social
  width: 150px
  ul
    margin-top: 20px
    text-align: center
  li
    display: inline
    margin: 0 5px

.recent
  a
    display: block
    margin-bottom: 5px

.blog
  main a
    display: block
    margin-bottom: 5px

form
  width: 100%
  display: block
  overflow: hidden
  margin-top: 40px
  input
    display: block
    width: 46%
    float: left
    padding: 10px 11px
    border: 0
    font-family: 'Droid Serif', serif
    font-size: 15px
  input:last-of-type
    float: right
  textarea
    padding: 10px 11px
    border: 0
    font-size: 15px
    font-family: 'Droid Serif', serif
    width: 100%
    margin: 17px 0
    display: block
    float: left
    min-height: 200px
  button
    font-family: 'Droid Serif', serif
    border: 0
    background: #2C3238
    padding: 10px 15px
    font-size: 15px
    color: #fff
    border-radius: 3px

.volunteer__callout
  background: #fff
  padding: 0 20px
  width: 300px
  float: right

.albums
  overflow: hidden
  figure
    width: 25%
    float: left
    margin: 0
    padding: 0
    img
      max-width: 100%
      height: auto
    a
      margin: 0 20px 20px 0
      display: inline-block

footer
  overflow: hidden
  width: 100%
  display: block
  float: left
  div
    float: left
    width: 50%
  div:last-of-type
    text-align: right
