main
  h1 Contact
  p Got something you'd like to discuss? Get in touch using the form below.
  
  form data-forge-name="contact"
    input data-forge-name="name" placeholder="Your name"
    input data-forge-name="email" placeholder="Your email address"
    textarea data-forge-name="message" placeholder="Your message"
    button Send it
