main
  h1 Gallery
  p Explore the farm in photos
  
  div.albums
    figure
      a href="#"
        <!-- @placeholder 170x127 -->
        figcaption The before pics
    figure
      a href="#"
        <!-- @placeholder 170x127 -->
        figcaption Early beginings
    figure
      a href="#"
        <!-- @placeholder 170x127 -->
        figcaption Clearing the site
    figure
      a href="#"
        <!-- @placeholder 170x127 -->
        figcaption The campsite
    figure
      a href="#"
        <!-- @placeholder 170x127 -->
        figcaption The before pics
    figure
      a href="#"
        <!-- @placeholder 170x127 -->
        figcaption Early beginings
    figure
      a href="#"
        <!-- @placeholder 170x127 -->
        figcaption Clearing the site
    figure
      a href="#"
        <!-- @placeholder 170x127 -->
        figcaption The campsite
