div.recent
  h2 Recent updates on the blog
  a href="#" Shipping container (and internet) acquired
  a href="#" Everything on track for the June, 1st move
  a href="#" On the hunt for gas appliances
  a href="#" It’s official, I’m moving off-grid!
  a href="#" Welcome to the future home of Elysium Farm!
