main
  h1 Our story
  p My dad first bought the land in 1972 and renovated the old Forestry cottage using Cob. In 1990 we moved out to the land, renting the house across the road as the main house and the cottage for us kids. In 1991 the cottage was burnt down (a story for another time) and in 1992 we moved to Knynsa. For a long time, my memories of the living on the farm were over-shadowed by incidents that happened in our final year before moving on.

  p For the past 3 years, I’ve had a yearning for farm life and after a bunch of failed attempts to purchase a property I’d never really considered my dads land as an option. It was only until earlier this year that I started coming to grips with the events that took place in 1992 and in that process I started thinking more and more about the land and all the positive memories we made there. The more I thought about it, the more it seemed like it we’d had the solution staring us in the face, without even realising it.

  p In March this year, my business is slowly edging forward, but for a week or two every month, I’m running around like a headless chicken shuffling money around to make sure all my debtors are paid. That combined with the increasing cost of living due to the USD exchange, so much of my energy each month was being spent on paying the bills, rather than being creative.  It finally got the point where I realized I needed to make a change, both from a financial and personal point of view. Naturally the idea of the farm came up again and after considering all the options, this is the route I finally decided on. 

  p The farm is a bit smaller than I would have liked it, but it’s big enough to showcase what can be done on a small space.

  p Initially 
