nav
  ul
    li
      a href="<!-- @path index -->" Home
    li
      a href="<!-- @path our-story -->" Our Story
    li
      a href="<!-- @path blog -->" Blog
    li
      a href="<!-- @path gallery -->" Gallery
    li
      a href="<!-- @path volunteer -->" Volunteer
    li
      a href="<!-- @path contact -->" Contact
