nav.social
  ul
    li
      a href="#"
        img src="<!-- @path twitter.png -->" alt="Twitter" width="14" height="12"
    li
      a href="#"
        img src="<!-- @path facebook.png -->" alt="Facebook" width="6" height="12"
    li
      a href="https://www.instagram.com/TheFoodieGardener"
        img src="<!-- @path instagram.png -->" alt="Instagram" width="12" height="12"
    li
      a href="#"
        img src="<!-- @path pinterest.png -->" alt="Pinterest" width="13" height="13"
    li
      a href="https://www.google.co.za/maps/place/33%C2%B055'58.9%22S+22%C2%B041'28.8%22E/@-33.933037,22.6891363,1305m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0x0!8m2!3d-33.933037!4d22.691325"
        img src="<!-- @path google-maps.png -->" alt="Google Maps" width="9" height="13"
