h1 Greetings and welcome!
p Elysium Farm is located in the idylic setting of Skuinskraal, Hoekwil - a mere 20 minutes from the Wilderness beach. The term “farm” is used broadly in this sense, as the plot is technically not big enough to be a farm, but that’s not really the point. In it’s present state, it’s a 2.3 hectare plot, that has been overgrown with indiginous and alien trees, but the plan is to slowly but surely develop the land into a working permaculture farm, exploring all forms of food production, sustainable building and free energy systems.
p We’ll be opening up registrations for volunteers in the coming weeks. We hope you’ll come along for the ride! We’re looking for anyone with any building, gardening, artists, or anything else related to living off-grid. Help out with various projects for 4 hours a day in exchange for two meals daily.
